.gameboard {
    /* border: dashed 2px black; */

    z-index: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 750px;
    height: 750px;

    padding: 20px;
    /* border: solid 3px black; */
}

.row {
    /* outline: dotted 3px green; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% / 3);
}

.square {
    /* outline: dotted red 1px; */
    
    position: relative;
    margin: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 240px;
    height: 240px;
}

.square-point {
    display: block;

    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.circle {
    position: absolute;
    z-index: 2;

    border: solid;
    /* Creates Circle */
    border-radius: 50%;
    background: black;

    width: 30px;
    height: 30px;
}

.circle-top-left {
    /* 50% of width and height + margin size */
    top: -20px;
    left: -20px;
}

.circle-top-right {
    /* 50% of width and height + margin size */
    top: -20px;
    right: -20px;
}

.circle-bottom-left {
    /* 50% of width and height + margin size */
    bottom: -20px;
    left: -20px;
}

.circle-bottom-right {
    /* 50% of width and height + margin size */
    bottom: -20px;
    right: -20px;
}

.button-edge{
    /* border: dotted; */
    border: none;

    position: absolute;
    z-index: 1;
    background-color: transparent;
    cursor: pointer;

}

/* Top and Bottom */
.button-tb-edge {
    /* background: none; */
    width: 15em;
    height: 40px;
    transform: translateX(-50%);
}

.button-lr-edge {
    /* background: none; */
    width: 40px;
    height: 15em;
    transform: translateY(-50%);
}

.button-edge-top {
    top: -20px;
    left: 50%;
}

.button-edge-bottom {
    bottom: -20px;
    left: 50%;
}

.button-edge-left {
    top: 50%;
    left: -20px;
}

.button-edge-right {
    top: 50%;
    right: -20px;
}
